<med-table
  #tableRef
  [data]="data"
  [loading]="loading"
  [config]="tableConfig"
  [settings]="tableSettings"
  (updateColumn)="onUpdateColumn($event)"
>
  <ng-template mTemplate="toolbar">
    <button
      pButton
      title="Очистити всі фільтри"
      class="p-button-outlined"
      icon="pi pi-filter-slash"
      (click)="tableRef.clearFilters()"
    ></button>
  </ng-template>

  <ng-template mTemplate="tableHead" let-column>
    <ng-container [ngSwitch]="column.key">
      <ng-container *ngSwitchCase="'winner'">
        WIN: {{ column.label }}
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'agreement_final_date'">
        <button pButton class="p-button-text text-left p-0">
          Ex: {{ data }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="'bool'">
        {{ item.bool ? 'Yes' : 'No' }}
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template mTemplate="rowExpansion" let-item>
    <h6>{{ item | json }}</h6>
  </ng-template>

  <ng-template mTemplate="paginator">
    <h1>Hello word</h1>
  </ng-template>
</med-table>
