<p-toolbar>
  <div class="flex align-items-center justify-content-start">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-file-excel"
      class="p-button-rounded p-button-success mr-4"
      (click)="tableRef.exportData()"
    ></button>

    <button
      pButton
      title="Очистити всі фільтри"
      class="p-button-outlined"
      icon="pi pi-filter-slash"
      (click)="tableRef.clearFilters()"
    ></button>
  </div>
</p-toolbar>

<med-table
  #tableRef
  [data]="data"
  [loading]="loading"
  [config]="tableConfig"
  [settings]="tableSettings"
  (updateRow)="onUpdateRow($event)"
  (focusCell)="onFocusCell($event)"
  (updateTable)="getData($event)"
>
  <ng-template mTemplate="caption">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis dolorem id maiores nostrum nulla pariatur provident quam temporibus vero! Alias dolorum in libero minus numquam odit ratione, rem unde?
  </ng-template>

  <ng-template mTemplate="tableHead" let-column>
    <ng-container [ngSwitch]="column.key">
      <ng-container *ngSwitchCase="'winner'">
        WIN: {{ column.label }}
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'agreement_final_date'">
        <button pButton class="p-button-text text-left p-0">
          Ex: {{ data }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="'bool'">
        {{ item.bool ? 'Yes' : 'No' }}
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template mTemplate="rowExpansion" let-item>
    <h6>{{ item | json }}</h6>
  </ng-template>

  <ng-template mTemplate="paginator">
    <h1>Hello word</h1>
  </ng-template>
</med-table>
